/*
 * @Author: yinwai
 * @Date:   2022-04-23 20:59:57
 * @Last Modified by:   yinwai
 * @Last Modified time: 2022-04-25 00:06:06
 */

.root {
	flex: 0;
	border-top: solid 1px var(--adm-border-color);
	background-color: white;
	position: sticky;
	z-index: 999999;
	bottom: 0;
}