/*
 * @Author: yinwai
 * @Date:   2022-04-24 21:53:06
 * @Last Modified by:   yinwai
 * @Last Modified time: 2022-05-18 16:50:18
 */

.root {
	min-height: 20vh;
	max-height: 30vh;
	display: flex;
	flex-direction: column;
	padding: 10px;

	:global {
		.head {
			flex: 0;
			font-size: large;
			padding: 10px;
		}
		.body {
			flex: 1;
			padding: 10px;
			overflow-y: scroll;
		}
		.foot {
			height: 50px;
			display: flex;
			flex-direction: row;
			.button {
				flex: 1;
				padding: 10px;
				margin: 0 5px 0 5px;
			}
		}
	}
}