/*
 * @Author: yinwai
 * @Date:   2022-04-19 15:34:37
 * @Last Modified by:   yinwai
 * @Last Modified time: 2022-04-20 14:40:35
 */

.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;

	:global {
		.left {
			flex: 1;
			padding: 10px;
		}

		.right {
			flex: 0;
			min-width: 60px;
			margin-right: 5px;
		}
	}
}