/*
 * @Author: yinwai
 * @Date:   2022-05-19 13:57:29
 * @Last Modified by:   yinwai
 * @Last Modified time: 2022-05-19 15:34:21
 */

.root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	:global {

		.body {
			flex: 0;
			align-self: center;
			padding: 10px 10px 10px 10px;
			border-radius: 10px 10px 10px 10px;
			background-color: white;

			.adm-form-footer {
				padding: 0 !important;
			}

			.foot {
				display: flex;
				flex-direction: row;

				.submit {
					flex: 1;
					margin: 10px;
				}
			}
		}
	}
}