/*
 * @Author: yinwai
 * @Date:   2022-04-24 16:11:54
 * @Last Modified by:   yinwai
 * @Last Modified time: 2022-04-24 16:13:05
 */

.root {
	flex: 0;
	border-bottom: solid 1px var(--adm-border-color);
	background-color: white;
	position: sticky;
	z-index: 999999;
	top: 0;
}