/*
 * @Author: yinwai
 * @Date:   2022-04-19 14:09:35
 * @Last Modified by:   yinwai
 * @Last Modified time: 2022-04-22 00:44:10
 */

.root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: #ffffff;

	:global {
		.head {
			flex: 0;
			border-bottom: solid 1px var(--adm-border-color);
			background-color: white;
			position: sticky;
			z-index: 999999;
			top: 0;
		}

		.body {
			flex: 1;
			display: flex;
			flex-direction: column;
			background-color: #eeeeee;
		}

		.box {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.bottom {
			flex: 0;
			border-top: solid 1px var(--adm-border-color);
			background-color: white;
			position: sticky;
			z-index: 999999;
			bottom: 0;
		}
	}
}