/*
 * @Author: yinwai
 * @Date:   2022-04-25 10:52:20
 * @Last Modified by:   yinwai
 * @Last Modified time: 2022-04-25 11:26:37
 */

.root {
	

	:global {
		.map {
			height: 100vh;
		}

		.panel {
			display: flex;
			flex-direction: column;
			display: flex;
			flex-direction: row;
			padding: 15px 5px 10px 10px;
			.avatar {
				flex: 0;
				padding: 3px;
				// padding-top: 15px;
			}
			.body {
				flex:1;
				display: flex;
				flex-direction: column;
				.name {
					flex:0;
					font-size: 15px;
					padding: 3px;
				}
				.content {
					flex:1;
					padding: 5px 12px 5px 3px;
				}
				.pictures {
					flex:1;
					display: flex;
					flex-wrap: wrap;
					.picture {
						max-width: calc(min(30%, 120px));
						max-height: 120px;
						object-fit: contain;
						padding: 3px;
					}
				}
				.time {
					padding: 3px 0 0 3px;
				}
			}
		}
	}
}