/*
 * @Author: yinwai
 * @Date:   2022-04-24 16:14:47
 * @Last Modified by:   yinwai
 * @Last Modified time: 2022-04-25 01:21:07
 */

.root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #ffffff;
}

.body {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #eeeeee;
}